/* style.css */

/* Установка цвета фона на всех страницах */
body {
    background-color: rgba(172, 184, 184, 0.368); /* Цвет фона по желанию */
    margin: 0; /* Убираем внешние отступы */
    padding: 50; /* Убираем внутренние отступы */
    margin-bottom: 50px; /* Отступ внизу body равный высоте footer'а */
    padding-top: 100px; /* Добавляем отступ сверху для контейнера main */
}

.main-text {
    color: black; /* Общие стили для главного текста */
    font-size: 18px;
    font-weight: 400; /* Насыщенность шрифта */
}

.special-text1 {
    color: rgb(0, 0, 0); /* Цвет текста */
    font-size: 14px; /* Размер шрифта */
    text-decoration: none; /* Убираем подчеркивание */
    font-weight: 400; /* Насыщенность шрифта */
    font-style: italic;
    line-height: 16px;
}
.special-text2 {
    line-height: 24px;
    color: rgb(0, 0, 0); /* Цвет текста */
    font-size: 16px; /* Размер шрифта */
    text-decoration: none; /* Убираем подчеркивание */
    font-weight: 400; /* Насыщенность шрифта */
    text-align: left;
}

/* Стили для шапки */
header {
    background-color: #fb1919d8; /* Цвет фона шапки */
    color: white; /* Цвет текста в шапке */
    padding: 0px; /* Внутренние отступы шапки */
    text-align: center; /* Выравнивание текста по центру */
    margin: 0; /* Убираем внешние отступы */
    position: fixed; /* Фиксированная позиция */
    width: 100%; /* Ширина на всю ширину экрана */
    top: 0; /* Отступ от верхнего края */
    z-index: 999; /* Чтобы шапка была выше остального контента */
}

/* Стили для меню сайта */
nav {
    display: flex; /* Используем flexbox */
    justify-content: center; /* Центрируем элементы по горизонтали */
}

nav ul {
    list-style-type: none; /* Убираем маркеры списка */
    padding: 0; /* Убираем внутренние отступы */
    margin: 0; /* Убираем внешние отступы */
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: white; /* Цвет текста ссылок */
    font-size: 16px; /* Размер шрифта */
    text-decoration: none; /* Убираем подчеркивание */
    font-weight: 400; /* Насыщенность шрифта */
}


/* Стили для контейнеров */
.container {
    padding: 0px;
}

.container-fluid {
    padding: 0px;
}

/* Стили для подвала */
footer {
    background-color: #fb1919d8; /* Цвет фона подвала */
    color: white; /* Цвет текста в подвале */
    padding: 10px; /* Внутренние отступы подвала */
    text-align: center; /* Выравнивание текста по центру */
    position: fixed; /* Фиксируем footer на экране */
    bottom: 0; /* Располагаем footer внизу */
    width: 100%; /* Ширина равна ширине экрана */
    z-index: 999; /* Чтобы подвал был выше остального контента */
}


