 /* style.css */

body {
    background-color: rgba(172, 184, 184, 0.368); 
    margin: 0; 
    padding: 50; 
    margin-bottom: 50px; 
    padding-top: 100px; 
}

.main-text {
    color: black; 
    font-size: 18px;
    font-weight: 400; 
}

.special-text1 {
    color: rgb(0, 0, 0); 
    font-size: 14px; 
    text-decoration: none; 
    font-weight: 400; 
    font-style: italic;
    line-height: 16px;
}
.special-text2 {
    line-height: 24px;
    color: rgb(0, 0, 0); 
    font-size: 16px; 
    text-decoration: none; 
    font-weight: 400; 
    text-align: left;
}

header {
    background-color: #fb1919d8; 
    color: white; 
    padding: 0px; 
    text-align: center; 
    margin: 0; 
    position: fixed; 
    width: 100%; 
    top: 0; 
    z-index: 999; 
}

nav {
    display: flex; 
    justify-content: center; 
}

nav ul {
    list-style-type: none; 
    padding: 0; 
    margin: 0; 
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: white; 
    font-size: 16px; 
    text-decoration: none; 
    font-weight: 400; 
}

.container {
    padding: 0px;
}

.container-fluid {
    padding: 0px;
}

footer {
    background-color: #fb1919d8; 
    color: white; 
    padding: 10px; 
    text-align: center; 
    position: fixed; 
    bottom: 0; 
    width: 100%; 
    z-index: 999; 
}
